<?xml version="1.0" encoding="UTF-8" ?>
<plugin xmlns="http://cordova.apache.org/ns/plugins/1.0"
    id="com.dmitriy-voeykov.plugins.aprefs"
    version="1.0.0">

	<engines>
		<engine name="cordova" version=">=3.0.0" />
	</engines>

	<name>Preferences Access Plugin</name>
	<description>Application Preferences plugin for Phonegap</description>

	<license>MIT</license>

	<js-module src="www/applicationPreferences.js" name="applicationPreferences">
		  <clobbers target="applicationPreferences" />
	</js-module>

    <platform name="ios">

        <config-file target="config.xml" parent="/*">
			 <feature name="applicationPreferences">
                <param name="ios-package" value="applicationPreferences" />
            </feature>
        </config-file>

        <header-file src="src/ios/applicationPreferences.h" />
        <source-file src="src/ios/applicationPreferences.m"  />

    </platform>

</plugin>
